#comingsoon {
  color:white;
  background-color: #782594;
  width: 100%;
  height:100%;
}

.content {
	margin-top: 50px;
  background-color: #782594;
  width: 100%;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.background {
  background-color: #782594;
  color: white;
}
